* {
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: #333;
  color: white;
  padding: 1rem;
}

.btn {
  background-color: coral;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
}

.btn:hover {
  opacity: 0.9;
}

.page-info {
  margin-left: 1rem;
}
.error {
  background-color: orangered;
  color: #fff;
  padding: 1rem;
}

.iamCanvas {
  border: 1px solid orangered;
  width: 45rem;
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
